/*Navbar*/
.navbar{
    margin-top:20px;
    font-family:Arial;
    text-align:right;
    padding-right:5px;
}

/*Main-div containing image, search bar and buttons*/
.main-div{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:80px;
    width:50%;
}

.search-bar{
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 3px;
    margin-left:150px;
    border: .5px solid rgba(0, 0, 0, 0.197);
    display:block;
    width:400px;
}

/* ---- buttons --- */
.button-1{
    margin-top:30px;
    margin-left:250px;
    margin-right:20px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 3px;
    border: .5px solid rgba(0, 0, 0, 0.197);
}

.button-2{
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 3px;
    border: .5px solid rgba(0, 0, 0, 0.197);
}

.button-1,.button-2{
    display:inline-block;
}